/*          Sizing Variebles         */
$xm: 0.5em;
$sm: 1em;
$mm: 4em;
$lm: 6em;
$xl: 10em;
$side-padding: 140px;
$mobile-side-padding: 40px;

$main-border-radius: 10px;

/*          color variebles         */
$main-dark: #272735;
$secondary-dark: #313143;
$white: #ffffff;
$green-btn: #27ad8d;
$purple-btn: #5b5386;
$register-purple: #403a5f;
$border-gray: #979797;
$accent-pink: #f23e6e;
$bs-success-rgb: #198754;

// font family variable//
$default-font: "Vazir";

// FONT IMPORTS //

@font-face {
  font-family: "Vazir";
  src: url("./Assets/Fonts/Vazir.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("./Assets/Fonts/Vazir-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("./Assets/Fonts/Vazir-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("./Assets/Fonts/Vazir-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
html,
body {
  font-family: "vazir";
  max-height: 100vh;
}

//removing input buttons
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

//APP//
.App {
  // overflow-x: hidden;
  // overflow-y: hidden;
  font-family: "vazir";
  max-height: 100%;
}

/* btns */
.btn {
  border-radius: $main-border-radius;
  border: none;
  color: $white !important;
  cursor: pointer;
  font-family: "vazir";
  font-size: 14px;
  font-weight: bold;
  margin: $xm;
  outline: none;
  padding: 1em 3em !important;
}

.purplebtn {
  background-color: $purple-btn !important;
}

.greenbtn {
  background-color: $green-btn !important;
}

/* MAIN MENU */
.main-menu-container {
  background-color: $main-dark;
  color: $white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  position: relative;
}

.main-menu__logo-dropdown-container {
  display: flex;
  flex-direction: row-reverse;
}
.main-menu__logo {
  margin-right: $side-padding;
  font-size: 30px;
}

.main-menu__logo a {
  font-size: 30px;
  color: $white;
  text-decoration: none;
}

.courses-dropdown-container {
  margin-right: $xl;
  display: flex;
  align-items: center;
}

.courses-dropdown__wrapper {
  direction: rtl;
  padding: 0.5em 1em;
  border-radius: $main-border-radius;
  cursor: pointer;
  position: relative;
}
.courses-dropdown__wrapper:hover {
  background-color: #1d1d27;
}

.courses-dropdown__arrow {
  padding-left: $lm;
}

.courses-dropdown__arrow::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 20px;
  width: 15px;
  height: 5px;
  border-radius: 10px;
  background-color: white;
  transform: rotate(45deg) translateX(-90%) translateY(-95%);
}

.courses-dropdown__arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: 15px;
  height: 5px;
  border-radius: 10px;
  background-color: white;
  transform-origin: "50% 50%";
  transform: rotate(-45deg) translateX(10%) translateY(10%);
}

.courses-dropdown__text {
  font-size: 15px;
}

.main-menu__login-register-container {
  display: flex;
  position: absolute;
  left: 10px;
}

.main-menu__user-profile-container {
  width: 100%;
  padding-left: $sm;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-menu__user-profile__avatar__container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.main-menu__user-profile__avatar__container:hover {
  background-color: #1d1d27;
}

.main-menu__user-profile__avatar {
  margin-right: $sm;
  border: 2px solid $white;
  border-radius: 50%;
}

.main-menu__user-profile__name {
  margin-right: 10px;
}

.main-menu__user-profile__stats {
  display: flex;
  margin-left: $mm;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
}

.main-menu__user-profile__bell-box,
.main-menu__user-profile__ruby-box,
.main-menu__user-profile__fire-box {
  padding: 10px 20px;
  border-radius: 1em;
  position: relative;
  margin-right: $sm;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu__user-profile__bell-box:hover,
.main-menu__user-profile__ruby-box:hover,
.main-menu__user-profile__fire-box:hover {
  background-color: #1d1d27;
  padding: 10px 20px;
  border-radius: 1em;
  position: relative;
  margin-right: $sm;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu__user-profile__bell-notification {
  height: 20px;
  width: 20px;
  background-color: $accent-pink;
  position: absolute;
  top: 1px;
  right: -10px;
  border-radius: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5px;
}

//Hambergurmenu
.hambergur-menu {
  position: relative;
  width: 30px;
  height: 10px;
  background-color: white;
  border-radius: $main-border-radius;
  display: none;
}

.hambergur-menu::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 10px;
  background-color: white;
  transform: translateY(20px);
  border-radius: $main-border-radius;
}

.hambergur-menu:after {
  transform: translateY(-20px);
  border-radius: $main-border-radius;
  position: absolute;
  content: "";
  width: 50px;
  height: 10px;
  background-color: white;
}

//Homepage
.homepage-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 64px;
  grid-gap: none;
}

.homepage-hero {
  background-color: $secondary-dark;
  direction: rtl;
  display: flex;
  align-items: center;
  padding-left: $sm;
}

.homepage-hero-right-wrapper {
  margin-right: $side-padding;
  max-width: 50%;
  max-height: 500px;
}

// .homepage-hero-left-wrapper {
//   // max-height: 500px;
// }

.homepage-hero__svg {
  height: 85%;
  width: 85%;
  margin-top: -2em;
}

.homepage-hero__title {
  color: $white;
  font-size: 2em;
  margin-bottom: $sm;
  margin-top: -2em;
}

.homepage-hero__text {
  color: $white;
  word-wrap: break-word;
  max-width: 600px;
}

.homepage-hero__cta {
  height: 40px;
  width: 190px;
  font-family: "vazir";
  margin-left: $mm;

  border-radius: $main-border-radius;
  background-color: $green-btn;
  outline: none;
  border: none;
  color: $white;
  font-size: 15px;
  margin-top: $sm;
  float: left;
}
//footer
.main-footer-container {
  // position: absolute;
  direction: rtl;
  border-top: 1px solid $border-gray;
  display: flex;
  align-items: center;
  // bottom: 0;
  // left: 0;
  width: 100vw;
  height: 64px;
  background-color: $secondary-dark;
  font-family: $default-font;
}

.main-footer__links {
  display: flex;
  margin-right: $side-padding;
}

.main-footer__links a {
  text-decoration: none;
  color: $white;
}

.main-footer__link {
  color: $white;
  list-style: none;
  text-decoration: none;
  margin-left: $mm;
}

//Registerpage and LOGIN
.registerpage-container,
.loginpage-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 64px;
  grid-gap: none;
}

.registerpage-wrapper,
.loginpage-wrapper {
  background-color: $secondary-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-progressbar {
  width: 100%;
  height: 10px;
  margin-bottom: $sm;
  background-color: $accent-pink;
  direction: rtl;
  position: relative;
}

.register-progressbar__text {
  color: $white;
  font-size: 12px;
  margin-top: -1em;
  margin-bottom: $sm;

  direction: rtl;
}

.register-progressbar__step1img {
  position: absolute;

  right: 90%;
  bottom: -50px;
}

.register-progressbar__step2img {
  position: absolute;
  right: 40%;
  bottom: -40px;
}

.register-progressbar__step3img {
  position: absolute;
  right: 0%;
  bottom: 10px;
}

.register-stepthree__btn__wrapper {
  width: 100%;
}

.register-stepthree__button {
  width: 100%;
  margin-top: $mm;
  background-color: $green-btn;
}

.register-stepthree__button:hover {
  background-color: lighten($green-btn, $amount: 5%);
}

.register-stepone,
.register-steptwo,
.register-stepthree,
.login-wrapper {
  background-color: $register-purple;
  padding: 3em;
  display: flex;
  border-radius: $main-border-radius;
  flex-direction: column;
  min-width: 600px;
  direction: rtl;
  position: relative;
}

.register-stepthree {
  position: relative;
}

.register-stepthree__svg {
  position: absolute;
  right: 80%;
  top: -20px;
}

.register-stepone__title,
.register-steptwo__title,
.register-stepthree__title,
.login__title {
  font-size: 40px;
  font-weight: bold;
  color: $accent-pink;
  align-self: center;
}

.register-stepthree__title {
  align-self: flex-start;
  margin-bottom: 5px;
}

.register-stepone__lable,
.register-steptwo__lable,
.login__lable {
  align-self: right;
  color: $white;
  margin-bottom: 5px;
}

.login__lable {
  margin-bottom: 10px;
}
.register-steptwo__lable__span,
.login__lable__span {
  font-size: 12px;
  color: $accent-pink;
}

.register-stepone__input,
.register-steptwo__input,
.login__input,
.login__verification_input {
  height: 40px;
  border-radius: $main-border-radius;
  padding-right: $sm;
  margin-bottom: $sm;
  outline: none;
  border: none;
}

.register-stepone__input:focus,
.register-steptwo__input:focus,
.login__input:focus,
.login__verification_input:focus {
  border: 1px solid $accent-pink;
}

.register-stepone__button,
.register-steptwo__button,
.login__button,
.login__verification__button {
  height: 40px;
  background-color: $green-btn;
  outline: none;
  border: none;
  border-radius: $main-border-radius;
  width: 70%;
  align-self: center;
  margin-top: $sm;
  margin-bottom: $sm;
  color: $white;
  font-weight: bold;
  cursor: pointer;
}

.register-stepone__button:hover,
.register-steptwo__button:hover,
.login__button:hover {
  background-color: darken($green-btn, $amount: 10%);
}

.register-stepone__button:disabled,
.register-steptwo__button:disabled,
.login__button:disabled,
.login__verification__button:disabled {
  background-color: $border-gray;
}

.register-stepone__button:disabled:hover,
.register-steptwo__button:disabled:hover,
.login__button:disabled:hover,
.login__verification__button:disabled:hover {
  background-color: $border-gray;
  cursor: unset;
}

.login__verification__button {
  background-color: $accent-pink;
}

.login__verification__button:hover {
  background-color: darken($accent-pink, $amount: 10%);
}

.register-stepone__paragraph,
.login__paragraph {
  font-size: 12px;
  align-self: center;
  margin-top: $sm;
  color: $white;
}

.register-stepone__span a,
.login__span a {
  color: $accent-pink;
  text-decoration: none;
}

.login-image {
  position: absolute;
  left: -100px;
  bottom: -50px;
}

//////////////dashboard page

.dashboardpage-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 64px;
  grid-gap: none;
}

.dashboardpage-wrapper {
  background-color: $secondary-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboardpage__top {
  display: flex;
  direction: rtl;
  justify-content: space-between;
  padding: 4em;
  color: $white;
  width: 100%;
}

.dashboardpage__button:hover {
  background-color: darken($green-btn, $amount: 10%);
}

.dashboardpage-activity-wrapper {
  width: 80%;
  height: 60%;
}

.short-activity-tracker {
  width: 80%;
  max-height: 80%;
}

.dashboardpage-grid {
  display: grid;
  grid-gap: $sm;

  width: 100%;
  padding: 0 $side-padding;
  min-height: 500px;
  grid-template-columns: 1fr 300px;
}

.dashboardpage-grid__courses {
  grid-column: 1/2;
  grid-row: 1/-4;
  padding: $sm;
}
.dashboardpage-grid__profile {
  background-color: aqua;
  width: 100%;
  height: 300px;
}

.dashboardpage-grid__activity {
  background-color: $register-purple;
  border-radius: $main-border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2/-1;
}

.dashboardpage-grid__leaderboard {
  background-color: $purple-btn;
  grid-column: 2/-1;
  width: 100%;
  height: 300px;
}

//CourseRow

.CourseRow-container {
  background-color: $register-purple;
  border-radius: $main-border-radius;
  margin-bottom: $sm;
  width: 100%;
  display: flex;
  direction: rtl;
  padding: $sm;
}

.CourseRow__info-container {
  margin-right: $sm;
  color: $white;
  display: flex;
  min-width: 50%;
  flex-direction: column;
  justify-content: space-around;
}

// .CourseRow__info-progress-bar {
// }

progress {
  vertical-align: baseline;
}
@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}
.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0d6efd;
  transition: width 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}

.bg-success {
  background-color: rgba($bs-success-rgb, 1%) !important;
}

.progress-bar-striped {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
}

.progress-bar-animated {
  -webkit-animation: 1s linear infinite progress-bar-stripes;
  animation: 1s linear infinite progress-bar-stripes;
}
@media (prefers-reduced-motion: reduce) {
  .progress-bar-animated {
    -webkit-animation: none;
    animation: none;
  }
}

.CourseRow__left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  margin: 0 auto;
  width: 100%;
}
.CourseRow__left-tool-btn-container {
  float: left;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.CourseRow__left-tool-btn {
  margin-right: $sm;
}

////////////////////////////////  MEDIA QUERIES /////////////////////////////////////////////

@media (max-width: 950px) {
  .courses-dropdown-container {
    display: none;
  }

  .main-menu-container {
    justify-content: flex-start;
  }

  .main-menu__logo {
    margin-right: $mobile-side-padding;
  }
  .main-menu__login-register-container {
    position: relative;
    margin-left: none;
    margin-right: $sm;
    float: right;
  }

  .hambergur-menu {
    display: block;
    position: absolute;
    left: 20px;
    top: 45%;
  }

  .btn {
    font-size: 12px;
    font-weight: bold;
    margin: $sm;
    outline: none;
  }

  .homepage-hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: calc(100vh-200px);
    padding-left: unset;
  }

  .homepage-hero-right-wrapper {
    width: 100%;
    margin-right: $mobile-side-padding + 20px;
  }

  .homepage-hero-left-wrapper {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homepage-hero__title {
    font-size: 2em;
    margin-bottom: $sm;
    margin-top: 2em;
    text-align: center;
  }
  .homepage-hero__text {
    text-align: center;
    max-width: unset;
    margin: 0 $sm;
  }

  .homepage-hero__cta {
    align-self: center;
    font-family: "vazir";
    font-size: 15px;
    margin-top: $mm;
    margin-bottom: $mm;

    margin-left: unset;
    width: 80%;
  }

  .homepage-hero__svg {
    margin-bottom: 2em;
  }

  .main-footer-container {
    display: none;
  }
}

/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
  font-size: 6px;
  fill: $white;
  margin-right: 100px !important;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: $accent-pink;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-github-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-github-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-github-4 {
  fill: #1e6823;
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}
